on:
  push:
    tags:
      - '*' # Push events to matching v*, i.e. v1.0, v20.15.10

permissions:
  issues: write
  pull-requests: read
  security-events: write
  
name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: version
        run: echo "::set-output name=version::$(./bin/odious-ado --version)"    
      # - name: Checkout code
      #   uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.OA_GITHUB_SECRET }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Changes in this Release
            - what up!!
          draft: false
          prerelease: true